Project/ПРОЕКТ-3. EDA + Разработка функций. Соревнование на Kaggle/data_kaggle/hotels_test.csv
Project/ПРОЕКТ-3. EDA + Разработка функций. Соревнование на Kaggle/data_kaggle/hotels_train.csv
Project/ПРОЕКТ-3. EDA + Разработка функций. Соревнование на Kaggle/data_kaggle/submission.csv
Project/ПРОЕКТ-3. EDA + Разработка функций. Соревнование на Kaggle/submission.csv
test.py
информатика.ipynb
ML0/ML-8. Продвинутые методы машинного обучения/data/CC GENERAL.csv
ML0/ML-8. Продвинутые методы машинного обучения/data/marketing_campaign.csv
ML0/ML-8. Продвинутые методы машинного обучения/data/Red_test.csv
ML0/ML-8. Продвинутые методы машинного обучения/data/Red.csv
ML0/ML-8. Продвинутые методы машинного обучения/pipeline.pkl
ML0/ML-8. Продвинутые методы машинного обучения/pipeline_vine.pkl
ML0/ML-8. Продвинутые методы машинного обучения/data/winequality-red.csv
Project/PROJECT-4. Задача классификации/bank_fin.csv
MathML/МАТЕМАТИКА&ML-4. Математический анализ в науке/Advertising.csv
Project/PROJECT-5. Задача регрессии/train.csv
Project/PROJECT-5. Задача регрессии/holiday_data.csv
Project/PROJECT-5. Задача регрессии/data/train.csv
Project/PROJECT-5. Задача регрессии/data/holiday_data.csv
Project/PROJECT-5. Задача регрессии/data/osrm_data_train.csv
Project/PROJECT-5. Задача регрессии/data/weather_data.csv
Project/PROJECT-5. Задача регрессии/data/Project5_osrm_data_test.csv
Project/PROJECT-5. Задача регрессии/data/Project5_test_data.csv
Project/PROJECT-5. Задача регрессии/data/test.csv
.gitignore
Project/PROJECT-5. Задача регрессии/data/osrm_data_test.csv
MathML/MATH&ML-7. Теория вероятностей в контексте наивного байесовского классификатора/SMSSpamCollection.csv
MathML/MATH&ML-7. Теория вероятностей в контексте наивного байесовского классификатора/spam_or_not_spam.csv
client_secret_4288917075-ekb1vue1c87vam5f0gt6ijpeva8ilf82.apps.googleusercontent.com.json
тестовое.ipynb
MathML/МАТЕМАТИКА&ML-8. Алгоритмы на основе деревьев решений/data/voice_gender.csv
MathML/МАТЕМАТИКА&ML-9. Математика ансамблевых методов/wineQualityReds.csv
MathML/МАТЕМАТИКА&ML-9. Математика ансамблевых методов/weatherAUS.csv
MathML/МАТЕМАТИКА&ML-9. Математика ансамблевых методов/AirPass.csv
