Project/ПРОЕКТ-3. EDA + Разработка функций. Соревнование на Kaggle/data_kaggle/hotels_test.csv
Project/ПРОЕКТ-3. EDA + Разработка функций. Соревнование на Kaggle/data_kaggle/hotels_train.csv
Project/ПРОЕКТ-3. EDA + Разработка функций. Соревнование на Kaggle/data_kaggle/submission.csv
Project/ПРОЕКТ-3. EDA + Разработка функций. Соревнование на Kaggle/submission.csv
test.py
